# Overall

.classpath
.project
.settings
*.log

# General

*.class

# Package Files

*.jar

# Intellij project files

*.iml
*.ipr
*.iws
.idea/

# Gradle

.gradletasknamecache
.gradle/
gradle/wrapper/gradle-wrapper.properties
build/
bin/
!gradle-wrapper.jar

# Spring

out/
.DS_Store
